//301 Redirect Old File
Redirect 301 /docs/doityourself.php /docs/index.php
Redirect 301 /docs_old/index.html /index.php
Redirect 301 /learn.html /docs/learn.html
Redirect 301 /docs_old/download.html /download.php
Redirect 301 /docs/hgsdk.html /docs/doxy/da/d4f/namespace_home_genie_1_1_automation_1_1_scripting.html
RedirectMatch 301 ^/docs_old/(.*)\.* http://homegenie.it/docs
RedirectMatch 301 ^/docs_api/(.*)\.* http://homegenie.it/docs
